<div class="content" *ngIf="isRouteReady">
  <!-- ================= ROTAS LIVRES (LOGIN, AUTH) ================= -->
  <ng-container *ngIf="isPublicRoute">
    <router-outlet></router-outlet>
  </ng-container>

  <!-- ================= ROTAS PRIVADAS ================= -->
  <nz-layout *ngIf="!isPublicRoute">
    <nz-sider
      nzTheme="light"
      nzCollapsible
      [nzWidth]="200"
      [nzCollapsedWidth]="isMobile ? 0 : 80"
      [nzTrigger]="null"
      [nzBreakpoint]="'md'"
      [(nzCollapsed)]="isVisibleMenu"
    >
      <div class="row">
        <div class="col-12">
          <a
            class="w-100"
            routerLink="/bit-admin/home"
            routerLinkActive="router-link-active"
          >
            <img
              src="images/logo/logo-bit.png"
              height="60"
              alt=""
              *ngIf="!isVisibleMenu"
            />
            <img
              src="images/logo/logo-bit-sm.png"
              height="30"
              alt=""
              *ngIf="isVisibleMenu"
            />
          </a>
        </div>
      </div>

      <app-sider-menu [collapsed]="isVisibleMenu"></app-sider-menu>
    </nz-sider>

    <nz-layout>
      <nz-header class="bg-light border p-3">
        <app-header
          (collapsedOut)="onChangeVisibleMenu($event)">
        </app-header>
      </nz-header>

      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>

      <nz-footer>
        Desenvolvido por
        <a href="https://joederblanca.com.br">Joeder Blanca</a>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</div>

<app-toast-container></app-toast-container>