::ng-deep html,
::ng-deep body {
  margin: 0;
  min-height: 100%;
  height: 100%;
}

// colors
$bit-color: #243156;

// texto
.text-bit {
  color: $bit-color !important;
}


.breadcrumb{
  color: $bit-color;
}