<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="col-12 col-sm-6  text-center">
      <img class="img-login-logo" src="images/logo/logo-bit.png" alt="">
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-centermp-3">
      <div class="card p-5 shadow rounded-5">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center d-flex flex-column justify-content-center align-items-center mb-2">
            <span class="text-bit h4">ADMIM</span>
            <span class="text-small">Financeiro - Vendas e Compras - Estoque</span>
          </div>
          <div class="col-12">
            <app-login-form></app-login-form>
          </div>
          <div class="col-12">
            <a class="h6" [routerLink]="['/auth/recovery-password']" routerLinkActive="router-link-active" >Esqueceu a senha?</a>
          </div>
          <div class="col-12 mt-5 text-end">
            <a class="h6" [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Ainda não tem conta? Entrar Agora!!</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>