:host {
  width: 100%;
  height: 100%;
}

.container-fluid {
  background-image: url("https://materiaisparaprofes.com.br/wp-content/uploads/2022/12/fundo-login-min-1080x720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

.card {
  background-color: rgba(240, 248, 255, 0.489);
}

.img-login-logo {
  width: 200px;

  :host-context(.screen-x-small) & {
    width: 10rem;
  }

  :host-context(.screen-small) & {
    width: 12rem;
  }

  :host-context(.screen-medium) & {
    width: 18rem;
  }

  :host-context(.screen-large) & {
    width: 19rem;
  }
}
