<div class="row login-form">
  <div class="col-12 col-md-6">

    <div class="card card-login-form w-100 shadow">
      <div class="card-body">
        <div class="row">
          <div class="col-12 text-center d-flex flex-column justify-content-center align-items-center">
            <img class="img-login-logo" src="images/logo/logo-bit.png" alt="">
            <span class="text-bit">Gerenciamento Financeiro, Pedidos de Compras/Vendas, Planejamento e Estoque.</span>
          </div>
          <div class="col-12">
            <app-login-form></app-login-form>
          </div>
          <div class="col-12">
            <a class="h6" [routerLink]="['/auth/recovery-password']" routerLinkActive="router-link-active" >Esqueceu a senha?</a>
          </div>
          <div class="col-12 mt-5 text-end">
            <a class="h6" [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Ainda não tem conta? Entrar Agora!!</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 col-md-6 text-center">
    <img src="images/wallpapper/login.png" class="wall-login d-none d-md-block" alt="art.ts">
  </div>

</div>