:host {
  text-align: center;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  line-height: 120px;
}

nz-content {
  min-height: 120px;
  line-height: 120px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
  height: 100%;
}

.ant-layout-header{
  line-height: 10px;
}
