<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzFooter]="footer"
  [nzWidth]="300"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <form [formGroup]="newFinancialOrigin" nz-form nzLayout="vertical">
      <div class="row">
        <div class="col-12">
          <nz-form-item>
            <nz-form-label nzRequired>Descrição</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="Ex.: Venda Direta..." formControlName="description" class="w-100"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
   <ng-template #footer>
        <div class="d-flex justify-content-end gap-2">
          <button class="btn btn-outline-secondary btn-sm" (click)="handleCancel()">
                <i class="fa fa-xmark" aria-hidden="true"></i>&nbsp;
                <span>Cancelar</span>
            </button>
            <button class="btn btn-primary btn-sm" (click)="handleOk()">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Cadastrar</span>
            </button>
        </div>
    </ng-template>
</nz-modal>
